<h1 class="heading">Github Assessment</h1>
 
<div class="form-group">
  <label for="userName">GitHub User Name</label>
  <input type="text" class="form-control" name="userName" [(ngModel)]="userName">
</div>
 
<div class="form-group">
  <button type="button" (click)="getRepos()">Get UserDetail</button>
</div>
 
<div *ngIf="loading">loading...</div>
 
<div *ngIf="errorMessage" class="alert alert-warning">
  <strong>Warning!</strong> {{errorMessage | json}}
</div>
 
 
<table class='table'>
  <thead>
    <tr>
     <th> login</th>
     <th> name</th>
     <th> public_repos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let repo of repos;">
      <td>{{repo.login}}</td>
      <td>{{repo.name}}</td>
      <td>{{repo.public_repos}}</td>
    </tr>
  </tbody>
</table>
 
<pre>{{repos | json}}</pre>